@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

:root {
  --fuenteBase: "Roboto", sans-serif;
  --colorPrincipal: rgb(245, 245, 245);
  --colorDestaque: rgb(255, 116, 61);
  --colorSecundario: rgb(8, 8, 8);
  --colorSecundarioDestaque: rgb(68, 68, 68);
  --colorTerciario: rgb(30, 30, 30);
}

* {
  box-sizing: border-box;
}

html,
body {
  background-color: var(--colorSecundario);
  color: var(--colorPrincipal);
  font-family: var(--fuenteBase);
  font-size: 25px;
  height: 100%;
  margin: 0;
  scroll-behavior: smooth;
  overflow: hidden;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.zoom {
  transition: transform 0.5s ease;
  color: var(--colorPrincipal);
  margin: 10px;
}

.zoom:hover {
  transform: scale(1.05);
}

/*INTRODUCCION*/
#pfp {
  width: 20vw;
  border-radius: 50%;
  margin-right: 10vw;
}

#introduccion {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: left;
  gap: 1rem;
}

.intro-texto {
  flex: 1;
  margin-left: 15vw;
}

.intro-texto h1 {
  margin-bottom: 3vw;
  font-size: 2.5rem;
}

.intro-texto h2 {
  font-size: 1.3rem;
  width: 100%;
  text-align: justify;
}

.intro-texto ul {
  display: flex;
}

.intro-texto ul li {
  flex-basis: 20%;
  font-size: 1.1rem;
}

.intro-foto {
  flex: 0 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*PRINCIPAL*/

#descripcion {
  text-align: justify;
  margin-left: 15vw;
  margin-right: 15vw;
  font-size: 1.5vw;
}

.destacado {
  color: var(--colorDestaque);
}

.tecnologias-img {
  height: 100px;
  width: 100px;
  margin-left: 30px;
  margin-right: 30px;

  position: relative;
}

.tecnologias-img.zoom:hover {
  transform: scale(1.25);
}

.tooltiptext {
  width: 100px;
  margin: 10px 30px 0px 30px;
  background-color: var(--colorSecundarioDestaque);
  color: var(--colorPrincipal);
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.tecnologias-img:hover + .tooltiptext {
  opacity: 1;
}

#secreto {
  color: var(--colorSecundario);
  transition: color 0.2s ease;
}

#secreto:hover {
  color: var(--colorDestaque);
}

.descrpcion-proyectos {
  font-size: 1.4vw;
}

.detalle-proyectos {
  font-size: 0.9vw;
  color: var(--colorDestaque);
}

.proyectos-img {
  height: 23vw;
  margin-left: 15px;
  margin-right: 15px;
}

#spacing-proyectos {
  padding: 40px;
}

/*CONTACTO*/
#contacto {
  margin-left: 15vw;
  margin-right: 15vw;
}

#form-contacto {
  width: 40vw;
  margin: 0 auto;
  margin-bottom: 1vw;
  background-color: var(--colorTerciario);
  padding: 30px;
  border-radius: 10px;
}

#form-contacto form {
  display: flex;
  flex-direction: column;
}

#form-contacto label {
  font-size: 1vw;
  margin-bottom: 8px;
  color: var(--colorPrincipal);
  text-align: left;
  display: block;
  width: 100%;
}

#form-contacto input,
#form-contacto textarea {
  width: 100%;
  height: 2vw;
  margin-bottom: 20px;
  border-radius: 5px;
  font-size: 1vw;
  padding-left: 10px;
  border: none;
  outline: none;
}

#form-contacto textarea {
  height: 5vw;
  font-family: var(--fuenteBase);
  padding-top: 7px;

  resize: none;
  overflow-y: auto;
  overflow-x: hidden;
}

#form-boton-enviar {
  transition: color 0.5s ease;
  background-color: var(--colorDestaque);
  color: var(--colorPrincipal);
  cursor: pointer;
  border-radius: 5px;
}

#form-boton-enviar:hover {
  background-color: rgb(255, 150, 109);
}

.contacto-img {
  height: 75px;
  width: 75px;
  margin-left: 30px;
  margin-right: 30px;
}

#spacing-contacto {
  padding: 30px;
}

/*BARRA LATERAL*/
.lateral {
  height: 100%;
  width: 11%;
  position: fixed;
  /* background-color: var(--colorSecundario); */
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
  padding-bottom: 40px;

  border-right: 8px dotted var(--colorTerciario);

  display: flex;
  flex-direction: column;
  justify-content: center; /* <-- Vertically center content */
  align-items: center; /* <-- Horizontally center links */
}

.lateral a {
  padding: 20px 0px;
  font-size: 25px;
  text-decoration: none;
  color: var(--colorPrincipal);
  display: block;
  transition: 0.3s;
}

.lateral a:hover {
  color: var(--colorDestaque);
}

.lateral .boton-cerrar {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#primer-link {
  color: var(--colorDestaque);
}

.boton-abrir {
  font-size: 20px;
  cursor: pointer;
  background-color: var(--colorSecundario);
  color: var(--colorPrincipal);
  padding: 15px 20px;
  border: none;
  display: none;

  position: fixed;
  top: 0;
  left: 0px;
  z-index: 1000;
}

.boton-abrir:hover {
  background-color: var(--colorSecundarioDestaque);
}

/*CONFIG DE LA PÃGINA*/
.scroll-container {
  height: 100vh;
  margin-left: 11%; /* Align the content next to the sidebar */
  width: 89%; /* Make sure the content takes the rest of the space */
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  scrollbar-color: var(--colorDestaque) var(--colorSecundario);
}

.snap-section {
  height: 100vh;
  scroll-snap-align: start;

  /* centrado */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  text-align: center;
}

::-webkit-input-placeholder {
  /* Edge */
  font-family: var(--fuenteBase);
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  font-family: var(--fuenteBase);
}

::placeholder {
  font-family: var(--fuenteBase);
}

/* Pop-up Message */
.confirmacion {
  position: fixed;
  bottom: -100px;
  right: 20px;
  background-color: var(--colorDestaque);
  color: var(--colorPrincipal);
  padding: 10px;
  border-radius: 10px;
  font-size: 1rem;
  transition: bottom 0.3s ease-out;
  opacity: 0;
}

.confirmacion.show {
  bottom: 10px; /* Position it near the bottom */
  opacity: 1;
}
